.settings-row-heading {
  font-size: 12px;
  padding: 5px 30px;
  text-transform: uppercase;
  background-color: #FBFBFB;
  border-top: 1px solid $column-border-color;
  border-bottom: 1px solid $column-border-color;
  box-sizing: border-box;
  -moz-box-sizing:border-box;
}

.settings-row {
  padding: 20px 30px;

  > .summary {
    color: #333;
    font-size: 16px;
    line-height: 24px;
  }

  > .meta {
    color: #B2B2B2;
    font-size: 13px;
    line-height: 24px;
  }
}

.highlight {
  background-color: #F7FAFC;

  .summary {
    color: #1E5B98;
  }
}

a.settings-row {
  display: block;
  border-bottom: none;
}

.settings-heading {
  padding: 30px 45px;
  border-bottom: 1px solid #e6e6e6;

  > .summary {
    color: #333;
    font-size: 23px;
    line-height: 30px;
  }

  > .meta {
    font-weight: light;
    color: #b2b2b2;
    font-size: 16px;
    line-height: 30px;
  }
}

.settings-content {
  padding: 20px 45px;
}


.settings-label {
  padding: 10px 15px 0px 0px;

  font-size: 14px;
  font-weight: 600;
}


.pic-container {
  margin-bottom: 30px;
}

.pic {
  width: 115px;
  height: 115px;
  border: 2px solid #e6e6e6;
  border-radius: 5px;
  float: left;
  margin-right: 20px;
  background-image: url(image-path('gray-logo.png'));
}

.pic-upload {
  width: 300px;
  height: 115px;
  border: 2px solid #e6e6e6;
  border-radius: 5px;
  overflow: auto;
  line-height: 111px;
  text-align: center;
}