


<div class="pic-container">
  <div class="cl pic">

  </div>

  <div class="pic-upload">
    <a href="#" class="btn btn-default">Choose A Picture</a>
  </div>
</div>

<div class="form-group">
  <label class="form-label">Username</label>
  <input type="text" name="username" placeholder="bbalas" class="form-control" autofocus>
</div>

<div class="form-group">
  <label class="form-label">Name</label>
  <input type="text" name="name" placeholder="Bogdan Balas" class="form-control" autofocus>
</div>

<div class="form-group">
  <label class="form-label">Email Address</label>
  <input type="text" name="email" placeholder="bogdanibalas@gmail.com" class="form-control" autofocus>
</div>

<div class="form-actions">
  <input type="submit" value="Update my personal settings" class="btn btn-primary">
</div>